<section>
    <h2>New message</h2>
    <%= form_for([current_user, @message]) do |f| %>
        <div class="form-group">
            <label>User:</label>
            <%= f.select :receive_name, @users %>
        </div>
        <div class="form-group">
            <%= f.label :body %>:
            <%= f.text_field :body, class: "form-control" %>
        </div>

        <%= f.submit "Send message", class: "btn btn-default" %>
    <% end %>
</section>
