<div class="comment-list-item id-<%= comment.id %>">
  <div class="user-info">
    <div class="wrap-user-comment-info">
      <%= image_tag comment.user.avatar(:thumb), size: '30x30' %>
      <%= link_to comment.user.name, profile_article_path(comment.user) %>
      <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
  </div>
  <p class="card-text"><%= comment.description %> </p>
  <a> <i class="far fa-comment"></i><span>comment</span></a>
</div>