<%= form_for @article, html: { multipart: true } do |f| %>
    <div class="form-group">
        <%= f.text_field :title, autofocus: true, required: true, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.file_field :avatar, class: "form-file-control" %>
    </div>
    <div class="form-group">
        <label for="article_catalog_id">Type</label>
         <%= f.select :catalog_id, @categories.collect { |category| [category["name"], category["id"]] }, class: 'form-control' %>
    </div>
    <div class="form-group">
        <input id="x" value="<%= @article.body %>" type="hidden" name="article[body]">
        <trix-editor input="x"></trix-editor>
    </div>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>