<%= simple_form_for @article, html: { multipart: true } do |f| %>
    <%= f.input :title %>
    Type: <%= f.select :catalog_id, @catalog %>
    <%=	f.input :avatar  %>
    <div class="form-group">
        <%= f.input :body, as: :trix_editor %>
    </div>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
