<%= simple_form_for @article, html: { multipart: true } do |f| %>
    <%= f.input :title %>
    <%= f.select :catalog_id, @catalog %>
    <%=	f.input :avatar  %>
    <div class="form-group">
        <%= f.trix_editor :body %>
    </div>
    <%= f.button :submit %>
<% end %>
