<main> 
  <article>
    <header>
      <h1 class="text-center"><%= @article.title %></h1>
      <p class="help-block">
        <span> posted on <%= @article.created_at.strftime("%Y-%m-%d") %> </span>
        <br>
        <span> Type: <%= @article.catalog.name %> </span>
      </p>
    </header>
    <% if @article.avatar.present? %>
      <figure>
        <%= image_tag @article.avatar.url, style: "height:350px;width:auto;", class: "img-fluid img-thumbnail rounded mx-auto d-block" %>
      </figure>
      <br>
    <% end %>
    <div class="text-center">
      <p> <%= @article.body.html_safe %> </p>
      <% if !current_user.blank? %>
        <% if @article.user_id == current_user.id %>
          <br>
          <br>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn", target: :_self %>
          <%= link_to 'Delete', article_path(@article), method: :delete, class: "btn" %>
          <br>
          <br>
        <% end %>
      <% end %>
    </div>
    <div class="like-article">
      <h5>
        <% if @like_article_state == 1 %>
          <i class="fas fa-heart" id="like_article_state"></i>
        <% else %>
          <i class="far fa-heart" id="like_article_state"></i>
        <% end %>
        <div id="like-article-size">
          <%= @article.like_articles.where(state: 1).size %>
        </div>
      </h5>
    </div>
  </article>
  <br>
  <br>
</main>
<section class="new-comment text-center">
  <% if user_signed_in? %>
    <%= render "comments/form" %>
  <% else %>
    <div class="prompt-login-message" role="alert">
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-info' %>
      login create comment
    </div>
  <% end %>
  <br>
</section>
<section class="comments text-center">
  <% if @comments.size > 0 %>
    <p id="comment-list-title"><%= @article.comments.size %> comments</p>
    <div id="comment-list">
      <%= render @comments, cached: true %>
    </div>
    <div id="subcomment-form" style="display: none">
      <form>
        <textarea cols="30" placeholder="write your message...">
        </textarea>
        <br>
        <input type="reset">
        <input type="submit">
      </form>
    </div>
    <br>
    <p>
      <%= paginate @comments, outer_window: 3%>
    </p>
  <% end %>
</section>
<section id="suggest_articles">
  <p class="text-center">推荐阅读</p>
  <% @suggest_articles.each do |sug_article| %>
    <div class="row">
      <div class="col">
        <h5><%= link_to sug_article["title"], article_path(sug_article["slug"]) %></h5>
        <p><%= strip_tags(sug_article["body"][0..150]).html_safe %></p>
      </div>
      <% unless sug_article["avatar"].nil? %>
        <div class="col-2">
          <%= image_tag(sug_article["avatar"]) %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>