<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'Navbar', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to url: articles_path, class: "nav-link" do %> <span class="sr-only"></span> <% end %> 
        </li>
        <% if user_signed_in? %>
         <li class="nav-item"> <%= link_to 'new article', new_article_path, class: "nav-link" %> </li>
         <li class="nav-item dropdown">
           <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
            <%= image_tag current_user.avatar.url(:thumb), size: '23x23' %> <%= current_user.name %>
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Profile', edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to 'message list', user_messages_path(current_user), class: "dropdown-item" %>
            <%= link_to 'new message', new_user_message_path(current_user), class: "dropdown-item" %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
           </div>
         </li>

        <% else %>
         <li class="nav-item"> <%= link_to 'sign in', new_user_session_path, class: "nav-link" %> </li>
         <li class="nav-item"> <%= link_to 'sign up', new_user_registration_path, class: "nav-link" %> </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catalog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Catalog.all.each do |t| %>
            <%= link_to t.name, articles_path(catalog: t.name), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
      <%= form_tag search_articles_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
      <%= text_field_tag :search, params[:search], placeholder: "search", class: "form-control mr-sm-2" %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>        
      <% end %>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <div class="col-md-12 col-sm-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
